page-payload {

    .buttonClass{
        text-align: center;
        margin-top: 25px;

    }
    ion-label{
        color:white !important;
    }
    ion-input,ion-select{
        color:white !important;
    }
}
